.barchart {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.barchart-column {
  margin-bottom: 10px;
  height: 25px;
  display: flex;
}

.barchart-column__title {
  font-family: "Simple Regular", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  width: 150px;
  flex:1;
  text-align: right;
  padding: 5px;
}

.barchart-column__bar {
  flex: 3;

  div {
    color: #fff;
    line-height: 25px;
    padding: 0 5px;
  }
}

.barchart-column__bar--safe > div {
  background-color: #97d700;
}

.barchart-column__bar--warning > div {
  background-color: #ffb81c;
}

.barchart-column__bar--danger > div {
  background-color: #f9423a;
}

.barchart-column__bar--expired > div {
  background-color: #231f20;
}

.barchart-column__bar--none > div {
  background-color: #94a2aa;
}

.barchart-column__bar--scanning > div {
  background-color: #00afd7l
}
